@{
    ViewBag.Title = "Confirmar correo electrónico";
}

<h4 class="text-uppercase font-weight-bold text-primary">@ViewBag.Title</h4>
<div>
    <p>
       Gracias por confirmar tu correo. Por favor @Html.ActionLink("Haz clic aquí", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
