@{
    ViewBag.Title = "Error de inicio de sesión";
}

	<div class="container mt-4 mb-5">
		<center>
			<hgroup>
				<h4 class="text-uppercase font-weight-bold text-primary">@ViewBag.Title</h4>
				<h6 class="text-danger">El inicio de sesión con el servicio no se ha llevado a cabo correctamente.</h6>
			</hgroup>
		</center>
	</div>
