@{
    ViewBag.Title = "Confirmación de contraseña olvidada";
}

	<center>
		<div class="container mt-4 mb-5">
			<hgroup class="title">
				<h3 class="text-uppercase font-weight-bold text-primary">@ViewBag.Title</h3>
			</hgroup>
			<div>
				<p>
					Compruebe el correo electrónico para restablecer la contraseña.
				</p>
			</div>
		</div>
	</center>	
	
