@{
    ViewBag.Title = "Confirmación de restablecimiento de contraseña";
}

	<div class="container mb-5">
		<center>
			<hgroup class="title mt-4">
				<img src="~/Imagenes/passwordchange.png" alt="Changepassword" width="110" class="mt-3 mb-3"/>
				<h4 class="text-uppercase font-weight-bold text-primary">@ViewBag.Title</h4>
			</hgroup>
			<div>
				<p>
					Se restableció la contraseña <br />
					@Html.ActionLink("Haga clic aquí para iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
				</p>
			</div>

		</center>	
	</div>