
@{
    ViewBag.Title = "Lavados";
}

<!DOCTYPE html>

<html>
<head>
    <title>Horarios_Lavados</title>

</head>
<br />
<br />
<body>
    <div class="container-fluid">
        <div class="text-xl-center">
            <h2>Horarios de Lavado</h2>
        </div>
        <div class="card-deck">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-img">
                        <h6 class="text-center btn-success">Chicas</h6>
                        <center><img src="~/Imagenes/smart-washing-machine.png" width="200" height="200" alt="Card image cap"></center>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Miercoles</h5>
                        <p class="card-text"> Solo chicas puden utilizar el area de Lavado en horario de 6AM a 7PM.</p>
                        <p class="card-text"><small class="text-muted">Horario Actualizado</small></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-img">
                        <h6 class="text-center btn-success">Chicos</h6>
                        <center><img src="~/Imagenes/fashion.png" width="200" height="200" alt="Card image cap"></center>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Viernes</h5>
                        <p class="card-text">Solo chicos puden utilizar el area de Lavado en horario de 6AM a 7PM.</p>
                        <p class="card-text"><small class="text-muted">Horario Actualizado</small></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-img">
                        <h6 class="text-center btn-success">Compartido</h6>
                        <center><img src="~/Imagenes/shelf.png" width="200" height="200" alt="Card image cap"></center>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Domingo</h5>
                        <p class="card-text">Chicas pueden utilizar el Area de lavado en horario de 6AM a 12PM, chicos en horarios de 12PM a 7PM.</p>
                        <p class="card-text"><small class="text-muted">Horario Actualizado</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
    <div class="container-fluid">
        <div class="text-xl-center">
            <h2>Reglas de Lavado</h2>
        </div>
        <div class="text-body">
            <p class="lead">Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>

            <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla.</p>

            <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>

            <ul class="list-group">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Morbi leo risus</li>
                <li class="list-group-item">Porta ac consectetur ac</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
        </div>
    </div>


</body>
</html>

