
G_D_Residencia_V1/.vs/G_D_Residencia_V1/config/applicationhost.config
G_D_Residencia_V1/.vs/G_D_Residencia_V1/v16/Server/sqlite3/db.lock
G_D_Residencia_V1/.vs/G_D_Residencia_V1/v16/.suo
G_D_Residencia_V1/.vs/G_D_Residencia_V1/v16/.suo
G_D_Residencia_V1/.vs/G_D_Residencia_V1/v16/Server/sqlite3/storage.ide
G_D_Residencia_V1/.vs/G_D_Residencia_V1/v16/Server/sqlite3/storage.ide-shm
G_D_Residencia_V1/.vs/G_D_Residencia_V1/v16/Server/sqlite3/storage.ide-wal
G_D_Residencia_V1/G_D_Residencia_V1/bin/G_D_Residencia_V1.dll
G_D_Residencia_V1/.vs/G_D_Residencia_V1/config/applicationhost.config
G_D_Residencia_V1/.vs/G_D_Residencia_V1/v16/.suo
G_D_Residencia_V1/.vs/G_D_Residencia_V1/v16/Server/sqlite3/db.lock

G_D_Residencia_V1/.vs/G_D_Residencia_V1/v16/.suo
G_D_Residencia_V1/.vs/G_D_Residencia_V1/v16/Server/sqlite3/storage.ide-shm
G_D_Residencia_V1/.vs/G_D_Residencia_V1/v16/Server/sqlite3/storage.ide-wal
G_D_Residencia_V1/G_D_Residencia_V1/obj/Debug/G_D_Residencia_V1.csprojAssemblyReference.cache
G_D_Residencia_V1/.vs/G_D_Residencia_V1/v16/.suo

G_D_Residencia_V1/.vs/G_D_Residencia_V1/v16/Server/sqlite3/storage.ide
G_D_Residencia_V1/.vs/G_D_Residencia_V1/v16/Server/sqlite3/storage.ide-shm
G_D_Residencia_V1/.vs/G_D_Residencia_V1/v16/Server/sqlite3/storage.ide-wal
G_D_Residencia_V1/G_D_Residencia_V1/bin/G_D_Residencia_V1.dll

G_D_Residencia_V1/G_D_Residencia_V1/bin/G_D_Residencia_V1.dll.config
G_D_Residencia_V1/G_D_Residencia_V1/bin/G_D_Residencia_V1.pdb
G_D_Residencia_V1/G_D_Residencia_V1/G_D_Residencia_V1.csproj
G_D_Residencia_V1/G_D_Residencia_V1/G_D_Residencia_V1.csproj.user
G_D_Residencia_V1/G_D_Residencia_V1/Models/AspNetRole.cs
G_D_Residencia_V1/G_D_Residencia_V1/Models/AspNetUser.cs
G_D_Residencia_V1/G_D_Residencia_V1/Models/AspNetUserClaim.cs
G_D_Residencia_V1/G_D_Residencia_V1/Models/AspNetUserLogin.cs
G_D_Residencia_V1/G_D_Residencia_V1/Models/C__MigrationHistory.cs
G_D_Residencia_V1/G_D_Residencia_V1/Models/EDIFICIO.cs
G_D_Residencia_V1/G_D_Residencia_V1/Models/HABITACIONE.cs
G_D_Residencia_V1/G_D_Residencia_V1/Models/Model1.Context.cs
G_D_Residencia_V1/G_D_Residencia_V1/Models/Model1.cs
G_D_Residencia_V1/G_D_Residencia_V1/Models/Model1.Designer.cs
G_D_Residencia_V1/G_D_Residencia_V1/Models/Model1.edmx
G_D_Residencia_V1/G_D_Residencia_V1/Models/Model1.edmx.diagram
G_D_Residencia_V1/G_D_Residencia_V1/Models/REPORTES_AVERIAS.cs
G_D_Residencia_V1/G_D_Residencia_V1/Models/SOLICITUD_ESTANCIA.cs
G_D_Residencia_V1/G_D_Residencia_V1/Models/SOLICITUD_SALIDA.cs
G_D_Residencia_V1/G_D_Residencia_V1/Models/sysdiagram.cs
G_D_Residencia_V1/G_D_Residencia_V1/Models/USUARIO.cs
G_D_Residencia_V1/G_D_Residencia_V1/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
G_D_Residencia_V1/G_D_Residencia_V1/obj/Debug/edmxResourcesToEmbed/Models/Model1.ssdl
G_D_Residencia_V1/G_D_Residencia_V1/obj/Debug/G_D_Residencia_V1.csproj.FileListAbsolute.txt
G_D_Residencia_V1/G_D_Residencia_V1/obj/Debug/G_D_Residencia_V1.csprojAssemblyReference.cache
G_D_Residencia_V1/G_D_Residencia_V1/obj/Debug/G_D_Residencia_V1.dll
G_D_Residencia_V1/G_D_Residencia_V1/obj/Debug/G_D_Residencia_V1.pdb
G_D_Residencia_V1/G_D_Residencia_V1/obj/Debug/TempPE/Models.Model1.cs.dll
G_D_Residencia_V1/G_D_Residencia_V1/obj/Debug/TempPE/Models.Model1.Designer.cs.dll
G_D_Residencia_V1/G_D_Residencia_V1/Web.config

G_D_Residencia_V1/G_D_Residencia_V1/bin/G_D_Residencia_V1.pdb
G_D_Residencia_V1/G_D_Residencia_V1/G_D_Residencia_V1.csproj
G_D_Residencia_V1/G_D_Residencia_V1/Models/Model1.edmx.diagram
G_D_Residencia_V1/G_D_Residencia_V1/obj/Debug/TempPE/Models.Model1.Designer.cs.dll
G_D_Residencia_V1/G_D_Residencia_V1/Models/Model1.Context.cs
G_D_Residencia_V1/G_D_Residencia_V1/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
G_D_Residencia_V1/G_D_Residencia_V1/obj/Debug/TempPE/Models.Model1.Designer.cs.dll
G_D_Residencia_V1/G_D_Residencia_V1/obj/Debug/TempPE/Models.Model1.cs.dll
G_D_Residencia_V1/G_D_Residencia_V1/obj/Debug/G_D_Residencia_V1.pdb
G_D_Residencia_V1/G_D_Residencia_V1/obj/Debug/G_D_Residencia_V1.dll
G_D_Residencia_V1/G_D_Residencia_V1/obj/Debug/G_D_Residencia_V1.csprojAssemblyReference.cache
G_D_Residencia_V1/G_D_Residencia_V1/obj/Debug/G_D_Residencia_V1.csproj.FileListAbsolute.txt
G_D_Residencia_V1/G_D_Residencia_V1/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
G_D_Residencia_V1/G_D_Residencia_V1/Models/Model1.Context.cs
G_D_Residencia_V1/G_D_Residencia_V1/Models/Model1.edmx.diagram
G_D_Residencia_V1/G_D_Residencia_V1/G_D_Residencia_V1.csproj
G_D_Residencia_V1/G_D_Residencia_V1/bin/G_D_Residencia_V1.pdb
G_D_Residencia_V1/G_D_Residencia_V1/bin/G_D_Residencia_V1.dll
G_D_Residencia_V1/.vs/G_D_Residencia_V1/v16/Server/sqlite3/storage.ide-wal
G_D_Residencia_V1/.vs/G_D_Residencia_V1/v16/Server/sqlite3/storage.ide-shm
G_D_Residencia_V1/.vs/G_D_Residencia_V1/v16/Server/sqlite3/storage.ide
G_D_Residencia_V1/.vs/G_D_Residencia_V1/v16/.suo

