body{
    background: #f2f3f4;
}

/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/
.dl-horizontal dt {
    white-space: normal;
}
input,
select,
textarea {
    max-width: 280px;
}

/*STAR CABECERA*/
.jumbotron-fluid {
    border-radius: 0px;
    background: #fff;
}

    .jumbotron-fluid .logo {
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .jumbotron-fluid .domi {
        margin-top: 2.2em;
        margin-bottom: 1em;
    }

.logo_small {
    display: inline-block;
}
/*END CABECERA*/

/*STAR MENU*/
.navbar .navbar-brand {
    padding-left: 1.4em;
}

.navbar .navbar-collapse .nav-item .nav-link {
    color: #fff;
    font-size: 1.1em;
    padding-left: 1.4em;
}

.navbar .navbar-toggler {
    color: #fff;
    border: 1.2px solid #fff;
}

.navbar .navbar-toggler .lnr {
    color: #fff;
}

.vl {
    border-right: 2px solid #fff;
    margin: 0.2em;
    height: 3.4em;
}


/*END MENU/CABECERA*/

/*SCREEN ADAPTER*/
@media screen and (max-width: 1024px) {
    .vl {
        visibility: hidden;
    }   
}
