@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

	<style>
        .content {
            margin-top: 3.3em;
            margin-bottom: 5.3em;
        }
    </style>

    <div class="content mb-5">
        <center>
			<img src="~/Imagenes/errorpaper.png" alt="Error-Solicitud"  width="120"/>
            <h1 class="text-dark mt-2">¡Oops!</h1>
            <h3 class="text-danger">Error al procesar la solicitud</h3>
        </center>  
    </div>

